{% extends 'auth/base.html' %}
{% load static %}

{% block title %}Link Expired{% endblock %}

{% block content %}
<section class="grid md:grid-cols-12 grid-full gap-4 px-4 pt-12 pb-20">
  <div class="lg:col-start-4 xl:col-start-5 xl:col-span-4 lg:col-span-6 col-span-full flex flex-col gap-8 text-center">
    <div class="w-16 h-16 mx-auto bg-red-100 rounded-full flex items-center justify-center">
      <svg width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#ef4444" stroke-width="2">
        <path d="M18 6L6 18M6 6l12 12"></path>
      </svg>
    </div>

    <p class="text-black h3 leading-tight">This password reset link has expired or is invalid. Please request a new one.</p>

    <a href="{% url 'login' %}" class="btn-default black lg justify-center flex">
      Back to sign in
    </a>
  </div>
</section>
{% endblock %}